# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# vscode
.vscode

# SSL Setting for local development
localhost.pem
localhost-key.pem

.vercel
repomix-output.txt
migration.sql
test_to_prod_sync.sql
supabase/*
repomix-output.xml

.flaskenv*
!.env.project
.env.vault